@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Good Eatz</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>It's Food Time! Time for Good Eatz!</h2>
        <p>
            Good Eatz allows you to order and deliver food from wherever you are. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Browse Our Menu</h2>
        <p>Duis hendrerit adipiscing venenatis blandit. Eleifend pharetra nisl mus rutrum suscipit porta sollicitudin habitasse tristique nostra, ipsum auctor nam ultrices, pharetra etiam. Tellus augue. Venenatis dui iaculis. Curabitur fames euismod mattis cubilia orci morbi fermentum nisi facilisis vitae. Blandit tortor. Sit curae; varius per porta dui gravida pellentesque amet nostra. Turpis facilisis Magna amet, velit tempor libero neque conubia non Tempor aliquet nostra.
         Fusce vitae blandit volutpat porttitor fringilla. Etiam egestas Laoreet ipsum arcu pede congue. Maecenas est nullam at semper Nec ad lorem donec. Sem purus aliquet tristique donec massa augue dis conubia aenean cras, molestie cras fames faucibus.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Order Now</h2>
        <p>Duis hendrerit adipiscing venenatis blandit. Eleifend pharetra nisl mus rutrum suscipit port</p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download &raquo;</a></p>
    </div>
</div>